In [56]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path    
import os
print(os.getcwd())

c:\Users\User\Dropbox\pandas-challenge\PyCitySchools

In [57]:
csv_path1 = "Resources/schools_complete.csv"
csv_path2 = "Resources/students_complete.csv"

In [58]:
schools_df = pd.read_csv(csv_path1)
students_df = pd.read_csv(csv_path2)

In [59]:
total_schools = schools_df["School ID"].count()
total_schools

15

In [60]:
total_students = students_df["Student ID"].count()
total_students

39170

In [61]:
total_budget = schools_df["budget"].sum()
total_budget

24649428

In [62]:
average_math_score = students_df["math_score"].mean()
average_math_score

78.98537145774827

In [63]:
average_reading_score = students_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [64]:
students_passing_math = students_df.loc[students_df["math_score"] >= 70, "math_score"].count()/total_students*100
students_passing_math

74.9808526933878

In [65]:
passing_reading_count = students_df[students_df['reading_score'] >= 70].count()['student_name']
passing_reading_percentage = (passing_reading_count / students_df['student_name'].count()) * 100
passing_reading_percentage

85.80546336482001

In [66]:
overall_passing_count = students_df[(students_df['math_score'] >= 70) & (students_df['reading_score'] >= 70)].count()['student_name']
overall_passing_percentage = (overall_passing_count / students_df['student_name'].count()) * 100
overall_passing_percentage

65.17232575950983

In [67]:
# Merge the students and schools data
school_data_complete = pd.merge(students_df, schools_df, how='left', on='school_name')

In [68]:
# Group by school to get the type of each school
school_types = schools_df.set_index('school_name')['type']

In [69]:
# Calculate total students per school
total_students_per_school = school_data_complete['school_name'].value_counts()

In [70]:
# Calculate total school budget
total_budget_per_school = schools_df.set_index('school_name')['budget']

In [71]:
# Calculate per student budget
per_student_budget = total_budget_per_school / total_students_per_school

In [72]:
# Calculate average math scores
average_math_scores = school_data_complete.groupby('school_name')['math_score'].mean()

# Calculate average reading scores
average_reading_scores = school_data_complete.groupby('school_name')['reading_score'].mean()

In [73]:
# Calculate the number of students passing math per school
passing_math = school_data_complete[school_data_complete['math_score'] >= 70]
passing_math_percentage = passing_math.groupby('school_name')['student_name'].count() / total_students_per_school * 100

In [74]:
# Calculate the number of students passing reading per school
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]
passing_reading_percentage = passing_reading.groupby('school_name')['student_name'].count() / total_students_per_school * 100

In [75]:
# Calculate the number of students passing both math and reading per school
overall_passing = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)]
overall_passing_percentage = overall_passing.groupby('school_name')['student_name'].count() / total_students_per_school * 100

In [76]:
# Create a DataFrame to hold all the calculated metrics
school_summary_df = pd.DataFrame({
    'School Type': school_types,
    'Total Students': total_students_per_school,
    'Total School Budget': total_budget_per_school,
    'Per Student Budget': per_student_budget,
    'Average Math Score': average_math_scores,
    'Average Reading Score': average_reading_scores,
    '% Passing Math': passing_math_percentage,
    '% Passing Reading': passing_reading_percentage,
    '% Overall Passing': overall_passing_percentage
})

# Display the DataFrame
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [77]:
# Hihgest Performing Schools (first 5)
top_schools = school_summary_df.sort_values('% Overall Passing', ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [78]:
#Lowest performing all schools (first 5)
bottom_schools = school_summary_df.sort_values('% Overall Passing', ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [79]:
# Math Scores by Grade Dataframe List Score students 9th, 10th, 11th, 12th
math_scores_by_grade = students_df.groupby(['school_name', 'grade']).mean(numeric_only=True)['math_score']
math_scores_by_grade = math_scores_by_grade.unstack()
math_scores_by_grade_df = pd.DataFrame(math_scores_by_grade)

In [80]:
# Reading Scores by Grade Dataframe List Score students 9th, 10th, 11th, 12th
reading_scores_by_grade = students_df.groupby(['school_name', 'grade']).mean(numeric_only=True)['reading_score']
reading_scores_by_grade = reading_scores_by_grade.unstack()
reading_scores_by_grade_df = pd.DataFrame(reading_scores_by_grade)

In [104]:
# Spending group by due categories
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ['<$585', '$585-630', '$630-645', '$645-680']

school_summary_df["Spending Ranges (Per Student)"] = pd.cut(school_summary_df["Per Student Budget"], bins=spending_bins, labels=spending_labels)

In [82]:
# Total Students per School
total_students_per_school = students_df.groupby('school_name')['Student ID'].count()

In [83]:
# Total Budget per School
total_budget_per_school = schools_df.set_index('school_name')['budget']

In [84]:
# Budget per Student
per_student_budget = total_budget_per_school / total_students_per_school

In [85]:
# Average Math Score per School
average_math_scores = students_df.groupby('school_name')['math_score'].mean()

In [86]:
# Average Reading Score per School
average_reading_scores = students_df.groupby('school_name')['reading_score'].mean()

In [87]:
# % Passing Math per School
passing_math = students_df[students_df['math_score'] >= 70]
passing_math_percentage = passing_math.groupby('school_name')['Student ID'].count() / total_students_per_school * 100

In [88]:
# % Passing Reading per School
passing_reading = students_df[students_df['reading_score'] >= 70]
passing_reading_percentage = passing_reading.groupby('school_name')['Student ID'].count() / total_students_per_school * 100

In [89]:
#Percentage Overall Passing on Math and Reading
overall_passing_percentage = (passing_math_percentage + passing_reading_percentage) / 2

In [103]:
# Create a DataFrame to hold all the metrics
spending_summary = pd.DataFrame({
    "Total Students": total_students_per_school,
    "Total School Budget": total_budget_per_school,
    "Per Student Budget": per_student_budget,
    "Average Math Score": average_math_scores,
    "Average Reading Score": average_reading_scores,
    "% Passing Math": passing_math_percentage,
    "% Passing Reading": passing_reading_percentage,
    "% Overall Passing": overall_passing_percentage
})
spending_summary

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Bailey High School,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [100]:
#Define the bins and labels for the school size
size_bins = [0, 1000, 2000, 5000]
size_labels = ['Small (<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']
school_summary_df["School Size"] = pd.cut(school_summary_df["Total Students"], bins=size_bins, labels=size_labels)

In [101]:
#Calculate the average scores and passing rates by school size
size_math_scores = school_summary_df.groupby('School Size').mean()['Average Math Score']
size_reading_scores = school_summary_df.groupby('School Size').mean()['Average Reading Score']
size_passing_math = school_summary_df.groupby('School Size').mean()['% Passing Math']
size_passing_reading = school_summary_df.groupby('School Size').mean()['% Passing Reading']
size_overall_passing = school_summary_df.groupby('School Size').mean()['% Overall Passing']

In [102]:
#Size Summary DataFrame
size_summary_df = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})
size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003